.container {
  background: white;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.background {
  position: relative;
  width: 100%;
  background: linear-gradient(124.75deg, rgba(241, 255, 246, 1) 0%, rgba(218, 237, 225, 1) 100%);
}

